logs/
npm-debug.log
node_modules/
coverage/
.idea/
.happypack/
dist
static
public
private
run
.DS_Store
.vscode
*.swp
*.lock
*.js
!.autod.conf.js
!app.js

app/view/*
!app/view/layout.html
!app/view/.gitkeep

app/**/*.js
test/**/*.js
config/**/*.js
app/**/*.map
test/**/*.map
config/**/*.map
